.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1B21;
    padding-block: 1rem;
}

.abtContent {
    width: 15rem;
}

h3 ,
p {
    margin: 0;
    font-family: "inter",sans-serif;
    color: white;
}

p {
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1rem;
}